@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Pacifico&display=swap');
* {
    margin: 0;
    padding: 0;
}
/* Header Section */
.header-container {
    width: 100%;
    height: 70px;
    background-color: #cbe7cf;
    border-bottom: 3px solid green;
    display: flex;
    
}
.header {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-between;
   
   
}
.header h1 , h2 {
    font-size: 20px;
    
}
.header span {
    margin-left: 20px;
    
}
.btn {
    padding: 8px 18px;
    margin-left: 8px;
    border-radius: 12px;
    background-color: rgb(56, 207, 207);
}

/* Interface Section*/
.interface {
    width: 80%;
    margin: auto;
   display: flex;
   justify-content: space-between;
}
.interface h1 {
    font-family: Pacifico,cursive;
    font-size: 50px;
    margin: 20px;
   
}
.interface ul {
    list-style-type: none;
    display: flex;
    margin: 40px;
    padding: 14px 20px;
}
.interface ul li {
    margin-left: 20px
}
nav ul li a {
  text-decoration: none;
}
.interface .left {
    display: flex;
}
.search-bar {
    padding: 5px 12px;
    margin-top: 30px;
    font-size: 20px;
    border-radius: 12px;
}

.one , .two{
    margin-left: 10px;
    margin-top: 20px;
    font-size: 30px;
}
/* Introduction Section */ 
.introduction {
    margin: auto;
    width: 80%;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.left-side p {
    font-size: 30px;
    margin-left: 40px;
    margin-top: 30px;
}
.left-side h2 {
    font-size: 40px;
    margin-top: 20px;
    
}
.left-side h1 {
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #09867e;
}

.left-side .btn-2  {
    padding: 10px 30px;
    background-color: #09867e;
    border-radius: 5px;
    display: block;
    margin-top: 40px;
    color: white;
}
/* Swiper Section */

.swiper-container {
    width: 80%;
    margin: auto;
    margin-top: 80px;
  
    
}
.swiper-container span {
    color: red;
    margin-right: 20px;
}
.swiper-container h1 {
  text-align: left;
    
}

.swiper {
    margin-top: 40px;

}

.swiper img {
  height: 200px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
   
  background-color: rgb(255, 254, 254);
 
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65%;
    margin: auto;
    
  }
  
  .category img {
    margin-bottom: 10px;
    
  }
  
  .category h1 {
    margin: 0;
  }
 


   
  .swiper-button-prev,
.swiper-button-next {
  position: absolute;
  transform: translateY(-50%);
  z-index: 99;
}

.swiper-button-prev {
  left: 0;
  
}

.swiper-button-next {
  right: 0;
}

  /* Grid System */
  .grid-container {
    width: 80%;
    margin: auto;
    margin-top: 70px;
  }
  .buttonz {
    text-align: left;
  }
  .grid-container button {
    padding: 10px 12px;
   margin: 30px;
  }
  .Grid {
    display: grid;
    gap: 30px;
   grid-template-columns: repeat(4,1fr);
  }
  
  .description {
    margin: 10px;
     display: flex;
    flex-direction: column; 
    align-items: center;
    }
    .description img {
      width: 80%;
      height: 200px;
      border-radius: 15px;
      
    }
  .iconzo {
    display: flex;
    width: 80%;
    
    justify-content: space-between;
  }
  .stars {
    color: gold;
    
  }
  .space{
    margin-left: 10px;
  }
  .description h1 {
    margin-left: 5px;
  }
  .description h3 {
    margin: 10px 15px;
  }
  .description h3 span {
    margin-left: 15px;
    text-decoration: line-through;
  }
  .description p {
    margin: 12px 20px;
  }
  #Rob {
    color: rgb(116, 131, 131);
    margin-left: 3px;
  }
  .offers {
    display: flex;
    width: 80%;
    margin: 50px auto;
    justify-content: space-between;
  }
  
  .offers > div {
    position: relative;
    flex-basis: calc(50% - 20px);
  }
  .offers img {
width: 100%;
height: 500px;
  }
  .first-offer, .second-offer {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  .first-offer {
    z-index: 1;
  }
  .offers .first-offer h1 , .second-offer h1 {
    font-size: 60px;
    color: #09867e;
  }
  .offers .first-offer span , .second-offer span{
    margin: 10px;
  }
  .offers .first-offer button , .second-offer button{
    display: block;
    margin-top: 15px;
    border-radius: 20px;
    width: 100%;
    height: 40px;
    background-color: #ff5722;
    color: white;
  }
  .offers .first-offer  h2 , .second-offer h2 {
    margin-top: 80px;
    font-size: 30px;
  }
  .offers .first-offer  h3 , .second-offer  h3 {
    font-size: 60px;
    margin-top: 40px;
  }
  .offers .first-offer  h3 span  , .offers .second-offer  h3 span {
    background-color: #fde2bf;
  }
  

  /* Footer */
  .bar {
    padding: 8px 18px;
    margin-left: 8px;
    border-radius: 12px;
  }
  .extra{
    border-bottom: none;
  }

  /* final / Ending */
  .final {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .media a {
    padding: 4px;
    color: gray;
  
  }
  
  
  .row-1 h1 {
    font-size: 30px;
    font-family: 'Alkatra', cursive;
    font-family: 'Pacifico', cursive;
  }
  .row-1 p {
    display: block;
    font-size: 16px;
   margin-top: 20px;
   margin-bottom: 10px;
  }
  .extra{
    border-bottom: none;
    margin-bottom: 20px;
  }
 
  .adress p , .adress h1 , .account p , .account h1 , .payment{
    margin-top: 10px;
  }
  .payment img {
    margin: 20px 0;
  }
  
  /* Media Query */

  @media(max-width: 1050px){
    .header , .header-container{
      display: none;
    }
    .interface nav {
      display: none;
    }
    .search-bar {
      display: none;
    }
    .interface h1 {
      margin: 0;
      font-size: 35px;
    }
    .introduction {
      display: block;
    }
   
  .introduction p , .introduction h2 , .introduction h1  {
    font-size: 20px;
    margin-left: 0;
  }
  .introduction .btn-2 {
    font-size: 10px;
  }
  .introduction  img {
    width: 100%;
    margin-top: 30px;
  }
  .category img {
    width: 100%;
    height: auto;
  }
  .swiper-container h1 {
    font-size: 20px;
  }
  .grid-container button {
    font-size: 12px;
    padding: 8px 8px;
    margin: 10px;
   
  }
  .buttonz {
    text-align: center;
  }
  .Grid {
    font-size: 16px;
    display: block;
    
    text-align: center;
  }
  .description {
    margin-bottom: 40px;
  }
  

  .final{
    display: block;
    
  }
  .payment h1 {
    font-size: 20px;
  }
  .offers {
    display: block;
   margin: 40px auto;
  }
  .offers .first-offer h1 , .second-offer h1 {
    font-size: 20px;
    color: #09867e;
    z-index: 1;
  }
  .offers .first-offer  h2 , .second-offer h2 {
    
    font-size: 20px;
  }
  .offers .first-offer  h3 , .second-offer  h3 {
    font-size: 30px;

  }
  .offers img {
    height: 350px;
  }
  
  .swiper-container h1 {
    text-align: center;
      
  }
  }
  /* page Two */ 
  .mini-container {
    height: 8vh;
    display: flex;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3)


  }
  .prep {
    width: 80%;
    margin: auto;
    display: flex;
   
  }
  .separator:before {
    content: '>';
    padding: 0 8px;
  }
  .tanjiro {
    width: 80%;
    margin: 40px auto;
  }
  .tanjiro span {
    margin: 3px 6px;
    color: red;
  }
  .description2 {
    margin: 40px 15px;
     display: flex;
    flex-direction: column; 
    align-items: center;
    border: 1px solid rgb(148, 146, 146);
    border-radius: 40px;
    padding: 10px 13px;
    }
    .description2 img {
      width: 80%;
      height: 300px;
      border-radius: 15px;
      
    }
    .description2 h1 {
      margin-left: 5px;
    }
    .description2 h3 {
      margin: 10px 15px;
    }
    .description2 h3 span {
      margin-left: 15px;
      text-decoration: line-through;
    }
    .description2 p {
      margin: 12px 20px;
    }
    /* table section */ 
    .table-container {
      width: 80%;
      margin: 80px auto;
      position: relative;
    }
   
   .child-two,.child-Three,.child-Four {
      display: flex;
      align-items: center;
      font-size: 13px;
      justify-content: space-evenly;
      
    }
   
        .forgiven {
      height: 80px;
      width: 100px;
      align-items: center;
    }
    .name h2{
      color: rgb(50, 122, 122);
    }
  
  /* forms */
  .form-container {
    width: 80%;
    margin: 80px auto;
  }
  .formz {
    display: flex;
    padding: 10px;
   
  }
  .Login-form , .Register-form{
    border: 1px solid black;
    width: 40%;
    text-align: left;
    margin: 30px;
    padding: 50px 34px;
    position: relative;
  }
  .beta {
  height: 180px;
  }
  label h1 {
    top: 10px;
    left: 20px;
    position: absolute;
  }
  label input {
    padding: 10px 14px;
    margin: 10px;
    width: 80%;
  }
  .fire {
    background-color: #37726e;
    border-radius: 4px;
    color: white;
    margin-top: 30px;
    padding: 10px 25px;
  }
  .alpha {
   border-left-style: dotted;
   border-top-color: blue;
   box-sizing: border-box;
 
  }